.mat-list {
  .mat-list-item {
    margin-bottom: 20px;
    p {
      margin-left: 10px;
      color: #fff;
    }

    img {
      width: 60px !important;
      height: 60px;
    }
  }
}

button {
  margin: 0 auto;
  color: #fff;
}
